@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background-size: cover;
  background: #e1e2e1;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 66px;
}

.login {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  position: absolute;
  padding-bottom: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.login input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #ccc;
}

.login input:focus {
  outline: none;
  color: #444;
  border-color: #2196f3;
  border-left-width: 35px;
}

.login-button {
  background-color: #279f43;
  background-image: none;
  border-color: rgba(27,31,35,.5);
  box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,.15);
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  display: block;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
}

.login-button:hover {
  background-repeat: repeat-x;
  text-decoration: none;
  color: #fff !important;
}

.user,.error-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.img {
  width: 200px;
  border-radius: 50%;
}

.loader {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.align-links {
  display: flex;
  justify-content: space-around;
}

h3 {
  margin-bottom: 0;
}

p {
  color: #666;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.2em;
}

.user-details {
  position: relative;
  height: 100vh;
}

.repo-container {
  margin: 30px 0;
  padding: 15px 15px;
  background: #fff;
  height: 90vh;
  overflow: auto;
}

.repo-badge {
  background: #6c757d;
  color: #fff;
  padding: 2px 5px;
  border-radius: .25rem;
}

.gh-ico {
  height: 20px;
  width: 20px;
  float: right;
  margin-right: 4px;
  background-image: url(https://image.flaticon.com/icons/svg/25/25231.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.gh-btn {
  padding: 3px 10px 3px 8px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 4px;
  background-color: #eee;
  background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);
  background-repeat: no-repeat;
  border: 1px solid #d5d5d5;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  cursor: pointer;
  float: right;
  display: inline-flex;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}